.search-bar {
  width: 100%;
  padding: 3em 0;
}

.search-bar input {
  border: none;
  padding: 1.2em 1.5em;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 2em;
  background-color: var(--dark);
  color: #f5f6fa;
  outline: none;
  font-size: 1.2em;
  font-weight: 500;
}
