:root {
  --darker: #27241d;
  --dark: #423d33;
  --subdue-text: #dcdde1;
}

html {
  overflow-y: visible;
}

body {
  margin: 0;
  font-family: Rajdhani, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f5f6fa;
  background-color: var(--darker);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

svg {
  fill: currentColor;
}

h3 small {
  font-weight: 400;
}
